---
import BaseLayout from '../layouts/BaseLayout.astro'
import bookmarksOrig from '../bookmarks.json'
import FormattedDate from '../components/FormattedDate.astro'
import BookmarkCard from '../components/BookmarkCard.astro'
let bookmarks = bookmarksOrig.slice().reverse()
---

<BaseLayout title="Bookmarks">
    <div class="min-h-screen overflow-hidden">
        <h1
            class="mx-auto w-full py-8 text-center text-5xl font-bold text-mauve"
        >
            Bookmarks
        </h1>
        <div class="mx-auto w-full max-w-4xl px-6">
            {
                bookmarks.map((bookmark) => (
                    <BookmarkCard
                        title={bookmark.title}
                        link={bookmark.link}
                        author={bookmark.author}
                        date={bookmark.date}
                        notes={bookmark.notes}
                    />
                ))
            }
        </div>
    </div>
</BaseLayout>
