---
import HomeLayout from '@/layouts/HomeLayout.astro'
import GithubIcon from '@assets/github.svg'
import Letterboxd from '@assets/letterboxd.svg'
import Linkedin from '@assets/linkedin.svg'

import Footer from '@/components/Footer.astro'

import { Image } from 'astro:assets'
import Music from '@/icons/music.svg'
const data = await fetch(
    `http://ws.audioscrobbler.com/2.0/?method=user.gettoptracks&user=${import.meta.env.LAST_FM_USERNAME}&period=7day&limit=1&api_key=${import.meta.env.LAST_FM_API_KEY}&format=json`
)

const topTrack = await data.json()
// mbid = topTrack.console.log(topTrack)
const logos = [
    { src: GithubIcon, link: 'https://github.com/nairadithya' },
    { src: Letterboxd, link: 'https://letterboxd.com/nairadithya' },
    { src: Linkedin, link: 'https://linkedin.com/in/nairadithya' },
]
---

<HomeLayout title="Adithya Nair.">
    <div class="px-5 dark:text-slate-200">
        <div class="py-4 font-serif text-4xl font-light">
            Hello, I'm <p class="font-extrabold text-red-400">Adithya.</p>
        </div>
        <p>
            I am a student, writer and programmer. This is my place on the
            Internet. Read more about me <a
                class="text-green-700 underline dark:text-green-200"
                href="/about">here</a
            >.
        </p>
        <a href={topTrack.toptracks.track[0].url}>
            <div class="flex py-4">
                <Music size="50" />
                <div class="flex flex-col">
                    <div class="font-bold">
                        {topTrack.toptracks.track[0].name}
                    </div>
                    <div class="p-0">
                        {topTrack.toptracks.track[0].artist.name}
                    </div>
                </div>
            </div>
        </a>
        <h2 class="py-2 font-serif text-2xl font-extrabold">Quick Links</h2>
        <div class="grid grid-cols-3 place-items-center py-2">
            {
                logos.map((item) => (
                    <a href={item.link}>
                        <item.src size="20" />
                    </a>
                ))
            }
        </div>
        <h2 class="py-2 text-2xl">Recent Essays</h2>
        <Footer />
    </div>
</HomeLayout>
