---
import HomeLayout from '@/layouts/HomeLayout.astro'
import githubIcon from '@/assets/github.svg'
import letterboxd from '@/assets/letterboxd.svg'
import linkedin from '@/assets/linkedin.svg'
import rss from '@assets/feed.svg'
import arrowLeft from '@/icons/svg/arrow-left.svg'
import arrowRight from '@/icons/svg/arrow-right.svg'
import reload from '@/icons/svg/reload.svg'

const data = await fetch(
    `http://ws.audioscrobbler.com/2.0/?method=user.gettopalbums&user=${import.meta.env.LAST_FM_USERNAME}&period=1month&api_key=${import.meta.env.LAST_FM_API_KEY}&format=json`
)
const topAlbum = await data.json()
---

<HomeLayout title="Adithya Nair.">
    <div class="px-5">
        <div class="font-manrope py-4 text-4xl">
            Hello, I'm <b>Adithya</b>.
        </div>
        <p>
            I am a student, writer and programmer. This is my place on the
            Internet. Read more about me <a
                class="text-green-700 underline"
                href="/about">here</a
            >.
        </p>
        <div class="my-2 rounded-md border-1 p-3 text-center">
            Member of <a
                class="text-green-700 underline"
                href="https://www.amrita.town"
            >
                amrita.town
            </a>
            <div
                class="mx-auto flex place-content-center place-items-center py-2"
            >
                <div class="flex items-center space-x-2">
                    <a href="https://amrita.town/prev">
                        <img src={arrowLeft.src} />
                    </a>
                    <a href="https://amrita.town/random">
                        <img src={reload.src} />
                    </a>
                    <a href="https://amrita.town/random">
                        <img src={arrowRight.src} />
                    </a>
                </div>
            </div>
        </div>
        <h2 class="py-2 text-2xl">Quick Links</h2>
        <div class="grid grid-cols-3 place-items-center py-2">
            <a href="https://www.github.com/nairadithya">
                <img src={githubIcon.src} class="size-10" />
            </a>
            <a><img src={letterboxd.src} class="size-10" /></a>
            <a><img src={linkedin.src} class="size-10" /></a>
        </div>
        <h2 class="py-2 text-2xl">Current Top Album</h2>
        <div class="flex flex-col">
            <a class="mx-auto" href={topAlbum.topalbums.album[0].url}>
                <img
                    class="size-40 rounded-xl"
                    src={topAlbum.topalbums.album[0].image[3]['#text']}
                    alt="helo"
                />
            </a>
            <p class="mx-auto font-bold">{topAlbum.topalbums.album[0].name}</p>
            <p class="mx-auto">{topAlbum.topalbums.album[0].artist.name}</p>
        </div>
    </div>
    <h2 class="py-2 text-2xl">Recent Essays</h2>
</HomeLayout>
