---
import FormattedDate from './FormattedDate.astro'
const { title, author, link, date, notes } = Astro.props
---

<div class="mx-auto max-w-2xl rounded-lg bg-base p-6 pb-5">
    <a href={link}>
        <h2 class="text-3xl font-bold text-text">
            {title}
        </h2>
        <h2 class="text-1xl font mb-2 text-text">
            {author}
        </h2>
    </a>
    <p class="mb-1 text-sm text-green">
        <FormattedDate date={date} />
    </p>
    <p class="mb-5 text-base text-subtext0">
        {notes}
    </p>
</div>
