---
const { title, date, link, author, notes } = Astro.props
import FormattedDate from '@/components/FormattedDate.astro'
---

<div class="bg-base-200 mb-8 rounded-lg p-6">
    <a href=`${link}`>
        <div class="mb-2 flex items-center justify-between">
            <p class="hover:text-secondary text-mauve text-2xl font-semibold">
                {title}
            </p>
            <div class="text-green text-sm">
                <FormattedDate date={date} />
            </div>
        </div>
        <p class="text-text mb-2">
            by{' '}
            <span class="text-text font-semibold">
                {author}
            </span>
        </p>
        {
            notes && (
                <div class="bg-base-300 mt-4 rounded text-left">
                    <p class="text-subtext1">{notes}</p>
                </div>
            )
        }
    </a>
</div>
