---
interface Props {
    title?: string
    description?: string
}

import '@/styles/global.css'

const {
    title = 'Adithya Nair | Student, Programmer And Writer',
    description = "Adithya Nair's home on the internet",
} = Astro.props

import { ClientRouter } from 'astro:transitions'
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Adithya Nair" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preload" href="/src/lib/colorscheme.ts" as="script" />
    <link
        rel="alternate"
        type="application/rss+xml"
        title="Adithya Nair's Website"
        href={new URL('rss.xml', Astro.site)}
    />

    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content=`${Astro.site}/og.png` />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta property="twitter:url" content={Astro.site} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content=`${Astro.site}/og.png` />

    <script src="/src/lib/colorscheme.ts" is:inline></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
</head>
