---
interface Props {
    title?: string
    description?: string
}

import '@/styles/global.css'

const {
    title = 'Adithya Nair | Student, Programmer And Writer',
    description = "Adithya Nair's home on the internet",
} = Astro.props

import { ClientRouter } from 'astro:transitions'

const origin = Astro.site!.origin
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Adithya Nair" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preload" href="../lib/setTheme.js" as="script" />
    <link rel="preload" href="../lib/colorscheme.js" as="script" />
    <link
        rel="alternate"
        type="application/rss+xml"
        title="Adithya Nair's Website"
        href={new URL('rss.xml', origin)}
    />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content=`${origin}/og.png` />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={origin} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={origin} />
    <meta property="twitter:url" content={origin} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content=`${origin}/og.png` />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link href="/hue.css" rel="stylesheet" />
    <script src="../lib/setTheme.js"></script>
    <script src="../lib/colorscheme.js"></script>
    <link href="/code.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <!-- KATEX -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
        integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP"
        crossorigin="anonymous"
    />

    <script
        defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js"
        integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6"
        crossorigin="anonymous"
        is:inline></script>
    <script
        defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js"
        integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
        crossorigin="anonymous"
        onload="renderMathInElement(document.body);"
        is:inline></script>
    <title>{title}</title>
    <ClientRouter />
</head>
