---
const { name, author, imageName, link } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('./Album/*')
const imageMod = await images[`./Album/${imageName}`]()
const AlbumArt = imageMod.default
---

<a href={`${link}`}>
    <div
        class="flex flex-col place-items-center items-start justify-items-center space-x-4 rounded-lg"
    >
        <img src={AlbumArt.src} class="rounded-lg" />
        <div>
            <div class="pt-2 text-xs md:text-lg">{name}</div>
            <div class="font-light italic">
                {author}
            </div>
        </div>
    </div>
</a>
