---
const { name, author, imageName, link } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('./Album/*')
const imageMod = await images[`./Album/${imageName}`]()
const AlbumArt = imageMod.default
---

<a href={`${link}`}>
    <div>
        <img src={AlbumArt.src} />
        <div>
            <div>{name}</div>
            <div>
                {author}
            </div>
        </div>
    </div>
</a>
