---
let links = [
    { text: 'Blog', link: '/blog', icon: 'article' },
    { text: 'Garden', link: '/garden', icon: 'yard' },
    { text: 'Projects', link: '/projects', icon: 'developer_mode_tv' },
    { text: 'About', link: '/about', icon: 'person' },
]
---

<div class="flex h-max w-full flex-row content-between items-center">
    <div class="px-5 text-xl font-bold dark:text-slate-200">
        <a href="/"></a>
    </div>
    <div class="ml-auto hidden items-center space-x-6 px-5 md:flex">
        {
            links.map((link) => (
                <a
                    href={link.link}
                    class="text-mauve hover:text-rosewater focus:text-green text-xl font-medium hover:underline"
                >
                    {link.text}
                </a>
            ))
        }
    </div>

    <div
        id="mobile-menu"
        class="fixed bottom-0 mx-auto flex w-full flex-row items-center justify-center space-x-4 bg-red-100 text-left font-sans md:hidden"
    >
        {
            links.map((link) => (
                <div class="flex flex-col">
                    <a
                        href={link.link}
                        class="hover:text-rosewater focus:text-green font-medium hover:underline"
                    >
                        <span class="material-symbols-outlined">
                            {link.icon}
                        </span>
                        {link.text}
                    </a>
                </div>
            ))
        }
    </div>
</div>
